@page
@model IndexModel
@using Team_3_mueseum;
@{
    ViewData["Title"] = "Home page";
}

@inject UserService user
@{
    var users = user.GetUser();
}

<h2>User List</h2>
<table class="User_table">
    <tr>
        <th>UserID</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
    @foreach (var u in users)
    {
    <tr>
        <td>@u.UserID</td>
        <td>@u.Email</td>
        <td>@u.Password</td>
    </tr>
    }
</table>